li
  .img_container
    img( src=item.image_url )
  .details
    h2
      .name= item.name
      .mana-cost= item.mana_cost
    .mid
      .type
        = item.types.join(' ')
        if item.subtypes && item.subtypes.length
          |  - 
          = item.subtypes.join(' ')
      .expansion= item.expansion
    .text= item.text
    if item.power || item.toughness
      .pt= item.power + '/' + item.toughness